<%= turbo_frame_tag 'categories' do %>
  <h1>Products:</h1>

  <%= form_with url: products_path, method: :get do |form| %>
     <%= form.number_field :min_price, placeholder: 'min price', onChange: 'this.form.requestSubmit()', value: params[:min_price] %>
     <%= form.number_field :max_price, placeholder: 'max price', onChange: 'this.form.requestSubmit()', value: params[:max_price] %> 
  <% end %>

<%= link_to 'all', products_path %>

<%= render partial: 'category', collection: @categories %>

<%= render partial: 'product', collection: @products %>
<% end %>
